.App {
	text-align: center;
}
.blog-list {
	display: flex;
	flex-direction: column;
	border: 1px solid #ddd;
	margin: 20px;
}
.blog-list h1 {
	display: flex;
	margin: 0;
	background: #eee;
	font-size: 18px;
	padding: 12px;
	color: #262626;
}
.blog-list p {
	display: flex;
	padding: 15px;
	margin: 0;
}
